<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="dist/app.css">
    <title>Avada Barbers</title>
  </head>
  <body>

    <!-- inizio header -->
    <header>
      <div class="container">

        <!-- inizio header-top -->
        <div class="header-top">

          <!-- header-top sinistra con logo -->
          <div class="left">
            <a href="#"><img :src="'img/' + logoImg.path" :alt="logoImg.name"></a>
          </div>

          <!-- header-top destra con carrello ed hamburger menu -->
          <div class="right">
            <ul id="list-icons">
              <li v-for="icon in navIcons">
                <a href="#">
                  <i :class="icon.prefix + icon.type"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end header-top -->

        <!-- inizio header-bottom -->
        <div class="header-bottom">

          <!-- header-bottom sinistra con titolo e bottone -->
          <div class="left">
            <div class="text">
              <h1>Barber Shop</h1>
              <hr>
              <p>The Pinnacle of Male Grooming</p>
              <a class="button" href="#">Learn more</a>
            </div>
          </div>

          <!-- header-bottom destra con immagine -->
          <div class="right">
            <img :src="'img/' + headerImg.path" :alt="headerImg.name">
          </div>
        </div>
        <!-- end header-bottom -->

      </div>

      <!-- quadrati lato destro -->
      <div class="square-contenitor">
        <a v-for="item in squareItem" class="square" href="#">
          <i :class="item.icon"></i>
          <p>{{ item.text }}</p>
        </a>
      </div>
      <!-- end quadrati -->
    </header>
    <!-- end header -->

    <!-- inizio main -->
    <main>
      <!-- inizio sezione pro -->
      <section id="pro">
        <h4>award winning</h4>
        <h2>Pro Barbers</h2>
        <a class="button" href="#">Meet your new barber</a>
      </section>
      <!-- end sezione pro -->

      <!-- inizio sezione servizi -->
      <section id="services">

      </section>
      <!-- end sezione servizi -->

      <!-- inizio sezione prodotti -->
      <section id="products">
        
      </section>
      <!-- end sezione prodotti -->

    </main>
    <!-- end main -->

    <!-- inizio footer -->
    <footer>

    </footer>
    <!-- end footer -->

    <!-- Script -->
    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
