// Common Settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-footer-top-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-color;
    border-radius: 20px;
  }
}

body {
  font-family: "Lato", sans-serif;
}

main {
  overflow-x: hidden;
  margin-bottom: 600px;
}

#services, #products {
  padding: 50px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

i {
  color: $text-color;
}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

h1 {
  color: $text-color;
  font-size: 85px;
}

h2 {
  color: $text-color;
  font-size: 70px;
}

h3 {
  color:  $h3-color;
  font-size: 30px;
}

h4 {
  color: $color-hover;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}

.button {
  @include button ($color-hover);

  &:hover {
    @include button-hover($button-hover);
  }
}

.square {
  @include square;
}
