// Header Settings
header {
  height: 100vh;
  background-image: url("../img/avadabarbers-homepage-hero-bg.jpg");
  @include bg-size;

  .container {
    @include header-container($container-width);

    .header-top {
      height: $header-top-height;
      display: flex;

      .left {
        @include display (row, start, end);
        @include header-top-child;
      }

      .right {
        @include display (row, end, end);
        @include header-top-child;

        #list-icons {

          li{
            display: inline-block;

            a {

              i {
                vertical-align: middle;
                margin: $icons-margin;

                &:hover {
                  transition: 1s linear;
                  color: $icons-hover;
                }
              }

              i.fa-shopping-cart {
                font-size: 17px;
              }

              i.fa-bars {
                font-size: 27px;
              }
            }
          }
        }
      }
    }

    .header-bottom {
      height: $header-bottom-height;
      display: flex;
      background-color: yellow;

      .left {
        @include header-top-child;
      }

      .right {
        @include header-top-child;
      }

    }
  }
}
