// Main Settings
main {
  overflow-x: hidden;

  #pro {
    background-image: url("../img/avadabarbers-about-introbackground.jpg");
    height: 550px;
    @include display (column, center, center);
    @include bg-size;
    background-position: top;

    h2 {
      margin-bottom: 30px;
    }
  }

  #services {
    width: 100%;
    height: 100vh;
    position: relative;

    &::before {
      @include triangle;
    }
  }

  #products {
    height: 500px;
    background-color: green;
  }
}
