// Main Settings
main {
  overflow-x: hidden;
  margin-bottom: 600px;

  #pro {
    background-image: url("../img/avadabarbers-about-introbackground.jpg");
    height: 550px;
    @include display (column, center, center);
    @include bg-size;
    background-position: top;

    h2 {
      margin-bottom: 30px;
    }
  }

  #services {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;

    &::before {
      @include triangle-up;
    }

    .container {
      @include container($container-width);

      .text {
        text-align: center;
        padding: 70px 0;
      }

      .three-column {
        @include display (row, flex-start, stretch);
        flex-wrap: wrap;

        .column {
          padding: 50px;
          width: calc(100% / 3);

          .content {
            width: 100%;
            text-align: center;

            img {
              height: 100px;
            }

            h3 {
              margin: 20px 0;
            }

            p {
              font-size: 18px;
              font-weight: 300;
              line-height: 30px;
              color: $p-color;
            }
          }
        }
      }

      .services-button {
        text-align: center;
      }
    }
  }

  #products {
    height: 1070px;
    background-image: url("../img/avadabarbers-reviewsbackground.jpg");
    @include bg-size;
    background-position: top;
    position: relative;

    &::before {
      @include triangle-up;
      border-bottom: 100px solid #121314;
    }
  }

  #reviews {
    position: relative;
    height: 1260px;
    background-color: #ffffff;

    &::after {
      @include triangle-down;
    }
  }

  #blog {
    height: 1100px;
    background-color: $blog-color;
  }
}
