// Variables Settings
$containerWidth: 60%;
$headerTopHeight: 95px;
$headerBottomHeight: calc(100% - 90px);
$textColor: #b0b0b0;
$iconsMargin: 15px;
$colorHover: #409ad3;
$transition: 0.2s linear;
$trasform: scale(1.15);
$buttonHover: #4f659a;
$h3Color:  #1a50ae;
$pColor: #505050;
$blogColor: #eae8e6;
$bgFooterTopColor: #111110;
$bgFooterBottomColor: #191817;
$footerBottomColor: #353333;
