// Variables Settings
$container-width: 60%;
$header-top-height: 95px;
$header-bottom-height: calc(100% - 90px);
$text-color: #b0b0b0;
$icons-margin: 15px;
$color-hover: #ae8652;
$transition: 0.4s linear;
$button-hover: #65401e;
$square-color: #4f659a;
$h3-color:  #ae8d67;
$p-color: #505050;
$blog-color: #eae8e6;
$bg-footer-top-color: #111110;
$bg-footer-bottom-color: #191817;
$footer-bottom-color: #353333;
