// Products Settings
#products {
  height: 1070px;
  background-image: url("../img/avadabarbers-reviewsbackground.jpg");
  @include bgSize;
  background-position: top;
  position: relative;
  text-align: center;

  &::before {
    @include triangleUp;
    border-bottom: 100px solid #121314;
  }

  .four-column {
    @include display (row, flex-start, center);

    .column {
      width: calc(100% / 4);
      padding: 50px 50px;

      .content {
        @include display (column, flex-start, center);
        width: 100%;

        &:hover {
          box-shadow: 5px 5px 0 0;
          padding: 0 200px;
          color: rgba(0, 0, 0, 0.2)
        }

        img {
          width: 400px;
        }

        p {
          color: $colorHover;
          margin: 8px 0;
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }

  #product-month {
    width: 60%;
    height: 440px;
    background-color: $bgFooterTopColor;
    border-top: 3px solid $colorHover;
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    @include display (row, flex-start, stretch);
    z-index: 2;

    .left {
      width: 40%;
      background-image: url("../img/avadabarbers-cta-background.jpg");
      @include display(row, center, center);
      @include bgSize;
      background-position: center;
    }

    .right {
      width: 60%;
      position: relative;
      text-align: left;

      .content {
        width: 76%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          margin: 5px 0 30px 0;
        }

        p {
          color: $pColor;
          font-weight: 300;
          line-height: 18px;
        }

        a {
          margin: 20px 0;
        }
      }
    }
  }
}
