// Pro Settings
#pro {
  background-image: url("../img/avadabarbers-about-introbackground.jpg");
  height: 550px;
  @include display (column, center, center);
  @include bg-size;
  background-position: top;

  h2 {
    margin-bottom: 30px;
  }
}
